header {
  background-color: #cccc87; }
  header div {
    width: 3%; }
    header div img {
      width: 100%;
      object-fit: cover; }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-size: 25px; }
    header nav ul li a {
      text-decoration: none;
      color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f1f1d6; }
