header{
    background-color: map-get($color-fondo ,fondo1 );
    div {
        width: 3%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    nav{
        ul{
            @include lista-flex(row, space-around, center, 25px);
            font-size: 25px;
            li{
                
                a{
                    text-decoration: none;
                    color: black;
                    
                }
            }
        }
    }
}