header{
    background-color: map-get($color-fondo ,fondo1 );
    div {
        
        width: 3%;
        img{
            width: 100%;            
        }
    }

    nav{
        ul{
            @include lista-flex(row, center, center, 6.25rem);
            font-size: 25px;
            li{
                
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: rgb(136, 136, 136);
                    }
                    
                }
            }
        }
    }
}