@media (max-width:1210px ){
    main {
        height: 743px;
    }

    .tienda{
        background-size: cover;
        background-color: red;

    }

};

@media (max-width: 1105px) {
    header{
        width: 978px;
    }
    .tienda{
        width: 1105px; 
    }
    footer{
        width: 978px;
    }

    main{
        height: 873px;
    }
}
