@media (max-width: 1254px){
    .cuerpoNosotros{

        h2{
            display: none;
        }

    }


    .cardNosotros{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
        gap: .625rem;
        overflow-x: scroll;
        background-color: map-get($color-fondo , fondo1 );
        margin-top: 1.875rem;
        div{
            h3{
                font-size: 20px;
                &:hover{
                    background-color: map-get($color-fondo , fondo3 );
                    scale: 0.9;
                }
            }

            p{
                padding-bottom:20px ;
                font-size: 20px;
            }

            align-items: center;
            width: 70%;
            height: 6.25rem;
            img{
                height: 12.5rem;
                width: 18.75rem;
                scale: 0.6;
            }
        }


    }
}


@media (max-width: 908px){
    .cardNosotros{
        div{
            p{
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 578px){
    .cardNosotros{
        div{
            p{
                font-size: 12px;
            }
        }
    }
}

@media (max-width:408px){
    .cardNosotros{
        #cardEnvios{
            h3{
                font-size: 17px;
                &:hover{
                    background-color: rgba(240, 255, 255, 0);
                }
            }
        }
    }
}


@media (max-width: 360px){
    .cardNosotros{
        div{
            h3{
                font-size: 15px;
                &:hover{
                    background-color: rgba(240, 255, 255, 0);
                    scale: 1;
                }
            }
        }



        .cardArgentina{
            h3{
                padding-top: 40px;
            }
        }
    }
}

@media (max-width: 325px){
    .cardNosotros{
        .cardCliente{
            h3{
                padding-top: 15px;
            }
        }
    }
}