@media (max-width: 1254px){
    .cuerpoNosotros{

        h2{
            display: none;
        }
    }
    .cardNosotros{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000;
        gap: .625rem;
        overflow-x: scroll;
        background-color: map-get($color-fondo , fondo1 );
        margin-top: 1.875rem;
        div{
            h3{
                padding-top: 30px;
                font-size: 20px;
            }

            p{
                padding-bottom:20px ;
                font-size: 12px;
            }

            align-items: center;
            width: 70%;
            height: 6.25rem;
            img{
                height: 12.5rem;
                width: 18.75rem;
                scale: 0.6;
            }
        }


    }
}

@media (max-width: 360px){
    .cardNosotros{
        display: flex;
        flex-direction: column;
        align-items: end;
        div{
        }
        .cardArgentina{
            h3{
                margin-top: 30px;
                &:hover{
                    transform: scale(0.1);
                }
            }
        }
    }
}