@media (max-width: 808px){
  .tiendaCuerpo{
      
      .cards{
        transition: 0.5s;
        display: grid;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
        padding: 20px;
        gap: 30px;

    }
  }
}


@media (max-width: 768px){
    header{
        height: 3.5rem;
        div{
            img{
               display: none;
            }
        }
    }
}