
main{
    
    h2{
       height: 150px;
       width: 50%;
       font-size: 40px;
       color: $colorSec;
       display: flex;
       justify-content: center;
       align-items: center;
       animation-name: titulo;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
       animation-duration: 6s;
       animation-delay: 1;
    }

    @keyframes titulo {
        0%{
            color: $colorPri;
        }
        10%{
            color: $colorSec;
            font-size: 35px;
        }
        25%{
            color: $colorPri;
            transform: rotate(5deg);
        }
        50%{
            color: $colorSec;
            font-size: 40px;
        }
        75%{
            color: $colorPri;

            transform: rotate(-5deg);
        }
        100%{
            color: $colorSec;
        }
    }
}
section{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;

    
    form{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        
    }
    input{
        text-align: center;
        height: 1.875rem;
    }

    #enviar{
        height: 3.125rem;
        background-color: map-get($color-fondo , fondo1 );
        border: .0625rem solid;

        &:hover{
            background-color: map-get($color-fondo , fondo3 );
            
        }
    }

    #mensaje{
        height: 3.75rem;
        
    }
}