
main{
    text-align: center;

    h2{
        font-size: 2.8125rem;
    }
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;

    article{
        img{
            width: 200px;
        }

        h3{
            font-size: 1.875rem;
        }
    }
}