
main{
    text-align: center;
    font-size: 25px;
}

.cards{
    display: flex;
    align-items: center;
    height: 80%;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    img{
        width: 200px;
    }
}